<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
  <title><%=t("label.fet_manegement")%></title>
</head>

<body>
  <table>
    <tr>
      <%= form_tag(new_ui_indexs_product_path,:method=>:get) do -%>
      <td><%= submit_tag t("label.add_NB")%></td>
      <td><%= submit_tag t("label.add_NIC")%></td>
      <%end-%>
    </tr>
    <tr>
      <td><%= button_to t("label.mobiles"), search_ui_indexs_products_path(:product_type => 1), :method =>:put  %></td>
      <td><%= button_to t("label.pads"), search_ui_indexs_products_path(:product_type => 2), :method =>:put  %></td>
      <td><%= button_to t("label.NBs"), search_ui_indexs_products_path(:product_type => 3), :method =>:put  %></td>
      <td><%= button_to t("label.NICs"), search_ui_indexs_products_path(:product_type => 4), :method =>:put  %></td>
    </tr>
  </table>
</body>
</html>
