<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
function reload(){
  location.reload(false);
}
</script>
<head id="Head1">
  <title>遠傳管理後台-修改產品資訊</title>
</head>
  <body>
    <center>
      <div> 
      <%= form_for @product do |f| %>
      <%= image_tag(@product.main_image.url_big, :size => "360x360" , :onclick => "reload();") if @product.main_image.present? and @product.main_image.url_origin.present?%>
          <div id="Panel_updatepanel">
            <table cellpadding="5" cellspacing="0">
              <tr class="odd">
                <%= render :partial => "upload_tools/sidebar_uploader", :locals => {:option => {:resource_type => @product.class.to_s, :resource_id => @product.id}, :table_params => { :categorized => 1 } } %>
              </tr>
              <tr class="even">
                <td><span class="text-imp">產品圖片格式請上傳 360*360 &lt; 30K</span></td>
              </tr>
            </table>
          </div>
      <% end %>
      </div>
        <table>
          <td><%= button_to t('activerecord.back_to_index'),ui_indexs_mains_path, :method =>:get  %></td>
          <td><%= button_to t("activerecord.back_to_list"),search_ui_indexs_products_path(:product_type => @product_type), :method =>:put  %></td>
        </table>
    </center> 
  </body>
  <div id="sogi_swf_reload">
</html>


